body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* makes card appear in center of screen */
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* min width and styles */
.card {
  min-width: 250px;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 0px grey;
  text-align: center;
}

.card-header {
  background-color: beige;
  text-align: center;
  /* just want rounded corners for top-left, top right to match card's rounded corners */
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-title {
  margin-top: 0;
  padding: 16px;
  color: dimgrey;
}

.container-temperature {
  font-size: 48px;
  margin: 16px;
  color: darkgray;
}

.container-toggle-buttons {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.toggle-button {
  color: dimgray;
  font-weight: 100;
  padding: 4px 8px;
  border: 1px solid dimgray;
  cursor:pointer;
}

.unit-enabled {
  background-color: beige;
  cursor: default;
}

.right-border-none {
  border-right: none;
}

.left-border {
  border-left: 1px solid dimgray;
}


